body {
    font-family: "Open Sans", sans-serif;
    background: #f6f9ff;
    color: #444444;
  }

  a {
    color: #4154f1;
    text-decoration: none;
  }

  a:hover {
    color: #717ff5;
    text-decoration: none;
  }